// Color
$black: #000;
$white: #ffffff;
$red:#D81F26;
$peach: #D3ABA9;
$words: #F6F6F699;

// Easing
$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: ("preloader",
  "loader-transition",
  "brain",
  "transition",
  "modal",
  "modal-transition",
  "cursor",
  "noscript",
  "navigation",
  "content",
  "canvas"
);
