.c-about {
  .c-main {
    overflow: hidden;
    position: relative;
    padding-top: 11.6rem;
    padding-bottom: 16.4rem;
    background: rgb(255, 255, 255);
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(211, 171, 169, 0.3) 100%);

    @include media("<=tablet") {
      padding-top: 70px;
      padding-bottom: 70px;
    }

    &__inner {
      width: 100%;
      max-width: 102.4rem;
      margin: 0 auto;
      display: flex;
      align-items: flex-start;
      @extend %body-18;

      @include media("<=tablet") {
        width: 90%;
        display: block
      }
    }

    &__main-text {
      @extend %title-about-header;
      color: $red;
      width: 100%;
      max-width: 48.3rem;
      flex-shrink: 0;
      margin-right: 8rem;

      @include media("<=tablet") {
        margin-right: 0rem;
        margin-bottom: 20px;
      }
    }

  }
}
