%dmsans {
  font-family: "DMSans", sans-serif;
}

%frunchy {
  font-family: "Frunchy", sans-serif;
}

%background {
  font-family: "Frunchy",
    sans-serif;
  font-size: 12vw;
  line-height: 0.829;
}

%title-header {
  font-family: "Frunchy",
    sans-serif;
  font-size: 14.45rem;
  line-height: 0.829;
}

%title-about-header {
  font-family: "Frunchy",
    sans-serif;
  font-size: 11.8rem;
  line-height: 9.8rem;
}

%title-80 {
  font-family: "Frunchy",
    sans-serif;
  font-size: 8rem;
  line-height: 0.85;
}

%title-75 {
  font-family: "Frunchy",
    sans-serif;
  font-size: 7.5rem;
  line-height: 0.91;
}

%body-30 {
  font-family: "DMSans",
    sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

%body-20 {
  font-family: "DMSans",
    sans-serif;
  font-size: 2rem;
  line-height: 1.75;
}

%body-18 {
  font-family: "DMSans",
    sans-serif;
  font-size: 1.8rem;
  line-height: 1.94;
}

%body-16 {
  font-family: "DMSans",
    sans-serif;
  font-size: 1.6rem;
  line-height: 2.18;
}

%body-14 {
  font-family: "DMSans",
    sans-serif;
  font-size: 1.4;
  line-height: 2.5;
}

%nav {
  font-family: "DMSans",
    sans-serif;
  font-size: 1.4rem;
  line-height: 2.84;
}
